body 
{
	background-color: white;
}


*
{
	padding:0;
	margin:0;
	box-sizing: border-box
	list-style : none;
	text-decoration: none;
	list-style-type: none;
	color: black;

		

}

.nav-list
{
	padding:1rem 0 ;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	}

.nav-item 
{
	margin-right: 2rem;
	text-transform: uppercase;
	font-weight: 600;

	
}

.nav-item a 
{
	color: black;
	letter-spacing: 1.2px;
}

.nav-item:first-child
{
	margin: auto;
	margin-left: 2rem;
}

.nav-list
{
	border-bottom: 1px black solid;
	box-shadow: 5px 5px 20px black;
}

a:hover 
{
	color: #C6AF52 
}

header
{
	position: sticky;
	top: 0;

}


body
{
	display: flex;
	flex-direction: column;
	text-align: center;
}


h2
{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color:#114555 ;
}


h1
{
		font-family: 'Roboto', sans-serif;
		font-size: 45px;
}


p
{
	font-family: 'Roboto Condensed', sans-serif;
}


img
{
	height: 467px;
	width: 750px;
	box-shadow: 5px 5px 14px black;
	
}